BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 300
IncludeBlocks: Regroup
AccessModifierOffset: -4
IncludeCategories:
  - Regex:           '^<.*/.*>'
    Priority:        2
  - Regex:           '^<.*\.h>'
    Priority:        1
  - Regex:           '.*'
    Priority:        3